html body {
    background-image: linear-gradient(#64646469, #a8aac5b4), url("https://image.freepik.com/free-vector/white-abstract-background-theme_23-2148830605.jpg");
    background-size: cover;
    min-height: 100vh;
}

h5 {
    font-style: italic;
}

h4 {
    font-style: italic;
}

#small {
    font-style: italic;
}

.resume {
    text-align: center;
}

img {
    border-radius: 150%;
    padding: 10px;
    margin: 10px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(51, 51, 61);
    color: rgb(214, 215, 226);
    text-align: center;
}

.myinfo {
    padding: 15px;
    position: left;
}